@model CK.Models.User

@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create User</h2>

<form asp-action="CreateUser" method="post">
    <div class="form-group">
        <label asp-for="User1">Username</label>
        <input asp-for="User1" class="form-control" />
        <span asp-validation-for="User1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Role">Role</label>
        <input asp-for="Role" type="Role" class="form-control" />
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Department">Department</label>
        <input asp-for="Department" class="form-control" />
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create User</button>
</form>
<a asp-controller="Login" asp-action="DisplayUsers" class="btn btn-primary">Display Users</a>

