@model List<CK.Models.RptSale>
@{
    Layout = null;
}
<!Doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css">
    <style>
        .dt-search
        {
            float:right;
        }
    </style>
</head>
<body>
    <label for="minDate">From:</label>
    <input type="date" id="minDate" name="minDate">

    <label for="maxDate">To:</label>
    <input type="date" id="maxDate" name="maxDate">

    <button id="displayButton">Display</button>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Store</th>
                <th>Name</th>
                <!-- Add other columns as needed -->
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.StoreName</td>
                    <td>@item.TotalSales</td>

                </tr>
            }
        </tbody>
    </table>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                pageLength: 20, // Set the number of rows per page
                lengthChange: true, // Enable the length change input control
                dom: 'Blfrtip', // Define the placement of the buttons
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print' // Specify the buttons
                ]
            });

            // Move the buttons to the top of the table
            new $.fn.dataTable.Buttons(table, {
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            }).container().appendTo($('#example_wrapper').find('.col-sm-6:eq(0)'));
        });

    </script>
</body>
</html>